/* taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs */
/*and https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.tab div.active {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content tablinks {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow: visible;
}

.dropdown-content tablinks:hover {background-color: #ddd;}